---
import Button from "@/components/Parts/Button.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import image1 from "@/assets/images/contact/image1.png";
import toggle from "@/assets/images/contact/toggle.png";
import arrow from "@/assets/images/contact/arrow.png";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Socialmedia from "@/components/Socialmedia.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import Form from "@/components/Form.tsx";

const faqs = [
  {
    question: "General Inquiries",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.",
  },
  {
    question: "General Inquiries",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.",
  },
  {
    question: "General Inquiries",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.",
  },
  {
    question: "General Inquiries",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.",
  },
  {
    question: "General Inquiries",
    answer:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec nunc ultrices. Nullam a metus nec nunc ultrices.",
  },
];

export const prerender = false;
---

<Layout title="Contact Us | D2L.sg">
  <PageTitleBanner title="Make an Impact with Us!" bgmv="/contact/mvbg.png" />

  <!-- Food Waste is BIGGER than you think! -->
  <Section bg="white">
    <SectionTitle textalign="center" color="green">
      Food Waste is BIGGER than you think!
    </SectionTitle>

    <div
      class="flex justify-between items-center mt-[3rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <Image
        src={image1}
        alt="Food Waste is BIGGER than you think!"
        width={480}
        height={282}
        class="w-full md:w-[38.21%]"
      />
      <div class="w-full md:w-[49%]">
        <p class="text-orange font-bold text-[1.5625rem] leading-none">
          D2L.sg is a holistic one-stop food surplus/waste management social
          enterprise
        </p>
        <p class="mt-[2rem]">
          We manage ALL TYPES of food surplus and waste via proprietary
          smart-matching AI technology, ensuring that food surplus and waste are
          matched to their best 2nd life quickly and efficiently.
        </p>
        <p class="mt-[2rem]">
          This diverts the food from the incinerator/digestor for higher and
          better leases of life.
        </p>
        <div class="mt-[2rem]">
          <Button text="Our Services" href="/services/" />
        </div>
      </div>
    </div>
  </Section>

  <!-- Partner with Us Today! -->
  <Section bg="beige">
    <SectionTitle color="green" textalign="left">
      Partner with Us Today!
    </SectionTitle>
    <p class="mt-[1rem]">
      Partner with us to align your business practices with Singapore's Resource
      Sustainability Act, demonstrating your commitment to sustainability.<br />
      Fill in the form below and we’ll get back to you! Or email us your inquiry
      at hello@d2l.sg, and we will get in touch!
    </p>
    <Form client:only="react" />
  </Section>

  <!-- Frequently Asked Questions -->
  <Section bg="white">
    <SectionTitle textalign="left" color="green">
      Frequently Asked Questions
    </SectionTitle>

    <!-- FAQs -->
    <div class="mt-[2.875rem]">
      <ul class="flex flex-col gap-y-[1.976rem]">
        {
          faqs.map((faq, index) => (
            <li
              class="drop-shadow-xl bg-beige rounded-[1.25rem]"
              id={`faq${index + 2}`}
            >
              {/* <!-- Question --> */}
              <div class="transition-all duration-300 question ~py-[1.25rem]/[1.5625rem] ~px-[1rem]/[2.1875rem] bg-green text-white font-bold ~text-[1.25rem]/[1.875rem] rounded-[1.25rem] flex justify-between items-center gap-x-[1rem]">
                <p>{faq.question}</p>
                <button class="toggle-button w-[1.875rem] shrink-0">
                  <Image
                    src={toggle}
                    alt="Toggle"
                    width={32}
                    height={32}
                    class="hamburger"
                  />
                  <Image
                    src={arrow}
                    alt="Toggle"
                    width={32}
                    height={32}
                    class="arrow hidden"
                  />
                </button>
              </div>
              {/* <!-- Answer --> */}
              <div class="answer px-[2.875rem] py-[1.8125rem] hidden">
                <p>
                  {/* {faq.answer} */}
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  <br />
                  Nullam a metus nec nunc ultrices. Nullam a metus nec nunc
                  ultrices.Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Nullam a metus nec nunc ultrices.
                  <br /> Nullam a metus nec nunc ultrices.Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Nullam a metus nec nunc
                  ultrices.
                  <br /> Nullam a metus nec nunc ultrices.
                </p>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Section>

  <!-- Social Media -->
  <Socialmedia />
</Layout>
<script is:inline>
  $(document).ready(function () {
    $(".toggle-button").click(function () {
      var answer = $(this).closest("li").find(".answer");
      answer.slideToggle();
      $(this).find(".hamburger").toggleClass("hidden");
      $(this).find(".arrow").toggleClass("hidden");
      $(this).closest("li").find(".question").toggleClass("bg-green bg-orange");
    });
  });
</script>
