---
import Inner from "@/components/Parts/Inner.astro";
import Button from "@/components/Parts/Button.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Layout from "@/layouts/Layout.astro";
import cta from "@/assets/images/blog/cta.png";
import social from "@/assets/images/blog/social.png";
import { Image } from "astro:assets";
import instagram from "@/assets/images/instagram.png";
import facebook from "@/assets/images/facebook.png";
import linkedin from "@/assets/images/linkedin.png";
import type { ImageMetadata } from "astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import BlogCard from "@/components/BlogCard.astro";
const allPosts = await Astro.glob("@/content/blog/*.md");

const sortedPostsByDate = allPosts.sort((a: any, b: any) => {
  return (
    (new Date(b.frontmatter.date) as any) -
    (new Date(a.frontmatter.date) as any)
  );
});

const getSlug = (file: string) => {
  return file.replace(/^.*[\\\/]/, "").replace(/.md$/, "");
};

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/content/blog/*.{jpeg,jpg,png,gif}"
);

const getFormattedImagePath = (imagePath: string) => {
  return `/${imagePath}`;
};
---

<Layout title="Blog & Media | D2L.sg">
  <PageTitleBanner title="Blog & Media" bgmv="/blog/mvbg.png" />

  <!-- Blog -->
  <Section bg="white">
    <SectionTitle color="green" textalign="left"> Blog Posts </SectionTitle>
    <!-- Cards Wrapper -->
    <div
      class="mt-[1.4375rem] flex gap-y-[1.9375rem] flex-wrap justify-between items-stretch"
    >
      <!-- Card -->
      {
        sortedPostsByDate.map((item: any) => (
          <BlogCard
            slug={getSlug(item.file)}
            imageAlt={item.frontmatter.title}
            imageSrc={images[getFormattedImagePath(item.frontmatter.image)]()}
            title={item.frontmatter.title}
            author={item.frontmatter.author}
          />
        ))
      }
    </div>
  </Section>

  <!-- Social Media -->
  <section class="bg-green ~px-[1rem]/[5rem] ~pt-[3rem]/[3.75rem]">
    <Inner>
      <div class="flex justify-between items-center">
        <div class="~pb-[3rem]/[3.75rem]">
          <SectionTitle color="white" textalign="left">
            Follow us on Social Media!
          </SectionTitle>
          <div class="mt-[2rem]">
            <!-- SNS -->
            <div class="flex items-center gap-x-[1.75rem]">
              <a href="https://www.instagram.com/d2l.sg/?hl=en" target="_blank">
                <Image src={instagram} alt="Instagram" width={50} height={50} />
              </a>
              <a target="_blank" href="https://www.facebook.com/D2L.sg">
                <Image src={facebook} alt="Facebook" width={50} height={50} />
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/d2lsg/">
                <Image src={linkedin} alt="LinkedIn" width={50} height={50} />
              </a>
            </div>
          </div>
        </div>

        <Image
          src={social}
          alt="Become our partner today!"
          width={742}
          height={464}
          class="w-[51.5%] self-end"
        />
      </div>
    </Inner>
  </section>

  <!-- CTA -->
  <Section bg="white">
    <div
      class="flex justify-between items-center flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <div>
        <SectionTitle color="green" textalign="left">
          Become our partner today!
        </SectionTitle>
        <div class="mt-[2rem]">
          <Button text="Learn more" href="/education" />
        </div>
      </div>

      <Image
        src={cta}
        alt="Become our partner today!"
        width={476}
        height={304}
      />
    </div>
  </Section>
</Layout>
<style>
  .tagradius {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .radius {
    border-radius: 0 1.25rem 1.25rem 1.25rem;
  }

  .radiusright {
    border-radius: 1.25rem 0 1.25rem 1.25rem;
  }

  .halfwidth {
    width: calc(50% - 2rem / 2);
  }

  .cardwidth {
    width: calc(33% - 2.625rem / 2);
  }
</style>
