---
import Inner from "@/components/Parts/Inner.astro";
import Button from "@/components/Parts/Button.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Layout from "@/layouts/Layout.astro";
import cta from "@/assets/images/blog/cta.png";
import social from "@/assets/images/blog/social.png";
import { Image } from "astro:assets";
import instagram from "@/assets/images/instagram.png";
import facebook from "@/assets/images/facebook.png";
import linkedin from "@/assets/images/linkedin.png";
import recentevent1 from "@/assets/images/blog/recentevent1.png";
import recentevent2 from "@/assets/images/blog/recentevent2.png";
import avator from "@/assets/images/blog/avator.png";
import type { ImageMetadata } from "astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
const allPosts = await Astro.glob("@/content/blog/*.md");

const sortedPostsByDate = allPosts.sort((a: any, b: any) => {
  return (
    (new Date(b.frontmatter.date) as any) -
    (new Date(a.frontmatter.date) as any)
  );
});

const getSlug = (file: string) => {
  return file.replace(/^.*[\\\/]/, "").replace(/.md$/, "");
};
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/content/blog/*.{jpeg,jpg,png,gif}"
);

const getFormattedImagePath = (imagePath: string) => {
  return `/${imagePath}`;
};
---

<Layout title="Blog & Media">
  <PageTitleBanner title="Blog & Media" bgmv="/blog/mvbg.png" />

  <!-- Recent Events -->
  <Section bg="beige">
    <SectionTitle color="green" textalign="left"> Recent Events </SectionTitle>
    <!-- Cards Wrapper -->
    <div class="mt-[1.4375rem] flex flex-col gap-y-[2.875rem]">
      <!-- Card1 -->
      <div>
        <!-- tag -->
        <div
          class="bg-orange p-[1.25rem] text-white font-bold inline-block text-[1.875rem] tagradius"
        >
          <div class="flex items-center gap-x-[1.2rem]">
            <p>Go Green SG Launch</p>
          </div>
        </div>

        <!-- body -->
        <div class="py-[2.5rem] px-[4rem] bg-white drop-shadow-md radius">
          <div class="flex gap-x-[2.9375rem]">
            <div>
              <p class="text-[1.25rem]">
                “Divert for 2nd Life, a community group, works with businesses
                like restaurants and supermarkets to channel excess food to
                needy communities in Singapore. This has helped reduce our food
                waste. Mee Toh school, our host today, is yet another good
                example. To nurture a stronger awareness of sustainability, Mee
                Toh has integrated environmental activities like recycling and
                sustainable farming into its curriculum.  And it has a group of
                students called Environment Champions who organise their own
                green projects and encourage their classmates to take up
                environmentally friendly habits.” - DPM Lawrence Wong at the Go
                Green SG Launch
              </p>
              <div class="mt-[1rem]">
                <Button
                  text="Read more"
                  href="https://www.pmo.gov.sg/Newsroom/DPM-Lawrence-Wong-at-the-Go-Green-SG-Launch"
                  targetblank="true"
                />
              </div>
            </div>

            <Image
              src={recentevent1}
              alt="Recent Event 1"
              width={282}
              height={320}
            />
          </div>
        </div>
      </div>

      <!-- Card2 -->
      <div class="text-right">
        <!-- tag -->
        <div
          class="bg-orange p-[1.25rem] text-white font-bold inline-block text-[1.875rem] tagradius"
        >
          <div class="flex items-center gap-x-[1.2rem]">
            <p>Go Green SG Launch</p>
          </div>
        </div>

        <!-- body -->
        <div
          class="py-[2.5rem] px-[4rem] bg-white drop-shadow-md radius text-left radiusright"
        >
          <div class="flex gap-x-[2.9375rem]">
            <Image
              src={recentevent2}
              alt="Recent Event 2"
              width={345}
              height={317}
            />
            <div>
              <p class="text-[1.25rem]">
                “Divert for 2nd Life, a community group, works with businesses
                like restaurants and supermarkets to channel excess food to
                needy communities in Singapore. This has helped reduce our food
                waste. Mee Toh school, our host today, is yet another good
                example. To nurture a stronger awareness of sustainability, Mee
                Toh has integrated environmental activities like recycling and
                sustainable farming into its curriculum.  And it has a group of
                students called Environment Champions who organise their own
                green projects and encourage their classmates to take up
                environmentally friendly habits.” - DPM Lawrence Wong at the Go
                Green SG Launch
              </p>
              <div class="mt-[1rem] text-right">
                <Button
                  text="Read more"
                  href="https://sokasingapore.org/awards-commendations/sgs-awarded-the-peoples-association-community-spirit-merit-award-2023/"
                  targetblank="true"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <!-- Blog -->
  <Section bg="white">
    <SectionTitle color="green" textalign="left"> Blog Posts </SectionTitle>
    <!-- Cards Wrapper -->
    <div
      class="mt-[1.4375rem] flex gap-y-[1.9375rem] flex-wrap justify-between items-stretch"
    >
      <!-- Card -->
      {
        sortedPostsByDate.slice(0, 6).map((item: any) => (
          <div class="rounded-[1.25rem] overflow-hidden drop-shadow-lg cardwidth flex flex-col">
            <a
              href={`/blog/${getSlug(item.file)}`}
              class="hover:opacity-80 transition-all duration-300"
            >
              {/* Image */}
              <div class="w-full pt-[62.87%] relative">
                <Image
                  src={images[getFormattedImagePath(item.frontmatter.image)]()}
                  alt={item.frontmatter.imageAlt}
                  class="w-full absolute top-0 left-0 object-cover h-full"
                  width={404}
                  height={254}
                />
              </div>

              <div class="bg-beige py-[1.25rem] px-[1.125rem] flex flex-col flex-grow min-h-[11.375rem] justify-between">
                <p class="font-bold text-[1.5625rem] leading-none line-clamp-3">
                  {item.frontmatter.title}
                </p>
                <div class="flex items-center gap-x-[0.5rem] ">
                  <Image
                    src={avator}
                    alt={item.frontmatter.author}
                    width={30}
                    height={30}
                  />
                  <p class="italic">{item.frontmatter.author}</p>
                </div>
              </div>

              <div class="bg-green py-[0.625rem] px-[1.125rem] text-white text-right">
                Read more
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <div class="text-center mt-[3.125rem]">
      <Button text="Show More" href="/blog/all/" />
    </div>
  </Section>

  <!-- Social Media -->
  <section class="bg-green ~px-[1rem]/[5rem] ~pt-[3rem]/[3.75rem]">
    <Inner>
      <div class="flex justify-between items-center">
        <div class="~pb-[3rem]/[3.75rem]">
          <SectionTitle color="white" textalign="left">
            Follow us on Social Media!
          </SectionTitle>
          <div class="mt-[2rem]">
            <!-- SNS -->
            <div class="flex items-center gap-x-[1.75rem]">
              <a href="https://www.instagram.com/d2l.sg/?hl=en" target="_blank">
                <Image src={instagram} alt="Instagram" width={50} height={50} />
              </a>
              <a target="_blank" href="https://www.facebook.com/D2L.sg">
                <Image src={facebook} alt="Facebook" width={50} height={50} />
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/d2lsg/">
                <Image src={linkedin} alt="LinkedIn" width={50} height={50} />
              </a>
            </div>
          </div>
        </div>

        <Image
          src={social}
          alt="Become our partner today!"
          width={742}
          height={464}
          class="w-[51.5%] self-end"
        />
      </div>
    </Inner>
  </section>

  <!-- CTA -->
  <Section bg="white">
    <div class="flex justify-between items-center">
      <div>
        <SectionTitle color="green" textalign="left">
          Become our partner today!
        </SectionTitle>
        <div class="mt-[2rem]">
          <Button text="Learn more" href="/education" />
        </div>
      </div>

      <Image
        src={cta}
        alt="Become our partner today!"
        width={476}
        height={304}
      />
    </div>
  </Section>
</Layout>

<style>
  .tagradius {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .radius {
    border-radius: 0 1.25rem 1.25rem 1.25rem;
  }

  .radiusright {
    border-radius: 1.25rem 0 1.25rem 1.25rem;
  }

  .halfwidth {
    width: calc(50% - 2rem / 2);
  }

  .cardwidth {
    width: calc(33% - 2.625rem / 2);
  }
</style>
