---
import Layout from "@/layouts/Layout.astro";
import service1 from "@/assets/images/about/service/service1.png";
import service2 from "@/assets/images/about/service/service2.png";
import service3 from "@/assets/images/about/service/service3.png";
import Inner from "@/components/Parts/Inner.astro";
import founder from "@/assets/images/linqinghui.png";
import { Image } from "astro:assets";
import cta from "@/assets/images/about/cta.png";
import zerowaste from "@/assets/images/about/zerowaste.png";
import whoweare from "@/assets/images/about/whoweare.png";
import Button from "@/components/Parts/Button.astro";
import ourjourney from "@/assets/images/about/ourjourney.png";
import others from "@/assets/images/about/publishers/others.png";
import image1 from "@/assets/images/about/publishers/image1.png";
import image2 from "@/assets/images/about/publishers/image2.png";
import image3 from "@/assets/images/about/publishers/image3.png";
import image4 from "@/assets/images/about/publishers/image4.png";
import image5 from "@/assets/images/about/publishers/image5.png";
import image6 from "@/assets/images/about/publishers/image6.png";
import logo1 from "@/assets/images/about/publishers/logo1.png";
import logo2 from "@/assets/images/about/publishers/logo2.png";
import logo3 from "@/assets/images/about/publishers/logo3.png";
import logo4 from "@/assets/images/about/publishers/logo4.png";
import logo5 from "@/assets/images/about/publishers/logo5.png";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import SectionType3 from "@/components/SectionType3.astro";

const serviceData = [
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Food Surplus/Waste Management",
      "Impact Reports and Analytics Dashboard",
      "ESG & NEA Reporting",
    ],
    link: "/services",
  },
  {
    title: "CSR & Employee Engagement",
    image: service2,
    description: [
      "CSR & Employee Engagement Programmes",
      "Surplus Food Provision",
      "Streamlined DSS engagement through comprehensive training model",
      "Community Outreach Expansion",
    ],
    link: "/services/",
  },
  {
    title: "Join as a DSS!",
    image: service3,
    description: [
      "Make a tangible difference and contribute to a worthy cause",
      "Network with changemakers",
      "Gain new skills on food surplus & waste management, logistics, and community outreach at your convenience",
    ],
    link: "/dss/",
  },
];

const publicationData = [
  {
    title: "DBS and NEA work together with young adults to combat",
    image: image1,
    logo: logo1,
    publisher: "The Business Times",
    href: "https://www.businesstimes.com.sg/lifestyle/dbs-and-nea-work-together-young-adults-combat-food-waste",
  },
  {
    title: "These two families are reducing waste by rescuing",
    image: image2,
    logo: logo2,
    publisher: "CNA",
    href: "https://www.channelnewsasia.com/singapore/food-rescue-families-reduce-waste-unwanted-give-away-3203936",
  },
  {
    title: "IN FOCUS: Fighting food waste and saving money - a ",
    image: image3,
    logo: logo2,
    publisher: "CNA",
    href: "https://www.channelnewsasia.com/singapore/freegan-food-rescue-reduce-waste-save-money-free-2808991",
  },
  {
    title: "Groups, app report up to 2X increase in people wanting",
    image: image4,
    logo: logo3,
    publisher: "Yahoo Finance",
    href: "/",
  },
  {
    title: "Firms donating food should be supported: Charities, ",
    image: image5,
    logo: logo4,
    publisher: "M Today",
    href: "https://www.channelnewsasia.com/singapore/freegan-food-rescue-reduce-waste-save-money-free-2808991",
  },
  {
    title: "Zero Waste, Starting With the Food on Your Plate",
    image: image6,
    logo: logo5,
    publisher: "Temasek",
    href: "https://www.temasek.com.sg/en/news-and-resources/stories/future/small-change-big-impact/singapore-food-rescuers",
  },
];
---

<Layout title="About Us">
  <PageTitleBanner title="About Us" bgmv="/about/mvbg.png" />

  <!-- Who we are -->
  <Section bg="white">
    <div
      class="flex justify-between items-center gap-x-[2.75rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <Image src={whoweare} alt="Lin QingHui" width={460} height={381} />

      <div>
        <SectionTitle textalign="left" color="green">Who we are</SectionTitle>
        <p class="mt-[2rem]">
          D2L.sg is a one-stop food surplus and waste manager led by founder Lin
          QingHui and a team passionate about sustainability. Together with our
          network of community partners and over 400 DSSes islandwide, we're all
          committed to less waste and doing good for a more sustainable future.
          Our values of inclusiveness, honesty, transparency, creativity,
          credibility guide everything we do to make a real impact towards zero
          waste.
        </p>
        <p class="mt-[2rem] text-orange font-bold text-[1.75rem] italic">
          "We just can't bear to see good food go to waste!"
        </p>
        <p class="text-orange font-bold text-[1.75rem] italic">
          - D2L.SG, 2023
        </p>
      </div>
    </div>
  </Section>

  <!-- CTA -->
  <Section bg="beige">
    <!-- <div class="bg-beige ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem]">
      <Inner> -->
    <div
      class="flex justify-between items-center gap-x-[2.5rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <div>
        <SectionTitle color="green" textalign="left">
          We Envision A<br /> Zero-Waste Singapore
        </SectionTitle>
        <p class="mt-[2rem]">
          where private, people, and public entities are working together,
          stewarding every resource mindfully, consciously, respectfully, and
          treading lightly on this earth, to achieve zero food waste.
        </p>
      </div>

      <Image src={zerowaste} alt="Lin QingHui" width={517} height={290} />
    </div>
    <!-- </Inner>
    </div> -->
  </Section>

  <!-- Our Journey -->
  <section class="~py-[3rem]/[3.75rem]">
    <div class="~px-[1rem]/[5rem]">
      <Inner>
        <SectionTitle textalign="left" color="green"> Our Journey</SectionTitle>
        <p>FROM PASSION TO IMPACT</p>
      </Inner>
    </div>
    <div class="mt-[2.125rem]">
      <Image src={ourjourney} alt="Our Journey" />
    </div>
  </section>

  <!-- How to get involved(Services) -->
  <SectionType3
    service={serviceData}
    title="How to get involved?"
    bgimagepath="/about/bg.png"
  />

  <!-- Founder -->
  <Section bg="white">
    <SectionTitle textalign="center" color="green"
      >Meet Our Founder!</SectionTitle
    >
    <div
      class="flex justify-between items-center gap-x-[3.1875rem] mt-[1rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <Image src={founder} alt="Lin QingHui" width={433} height={399} />

      <div>
        <p class="text-orange text-[2.8125rem] font-bold italic">Lin QingHui</p>
        <p class="mt-[1rem]">
          Stemming from her “pathological hatred” for food waste, Lin QingHui
          founded D2L.sg back in 2018 by participating in the DBS Foundation
          competition with her peers. She believes that "zero food waste should
          be second nature to all of us if we accord the most basic respect to
          all human life". Lin also recognizes that “even if it [re: food
          surplus/waste] is not fit for human consumption, there are much higher
          and better uses that it can be diverted to, other than the digester or
          bin”. These beliefs have fuelled D2L.sg's continuous growth and the
          development of diverse offerings, making D2L.sg a one-stop food
          surplus and waste management catering to various stakeholders' needs
          over the years.
        </p>
      </div>
    </div>
  </Section>

  <!-- CTA -->
  <Section bg="beige">
    <div class="flex justify-between items-center flex-wrap gap-y-[3rem]">
      <div>
        <SectionTitle textalign="left" color="green">
          Learn more about food waste!
        </SectionTitle>
        <div class="mt-[2rem]">
          <Button text="Learn more" href="/education" />
        </div>
      </div>

      <Image src={cta} alt="Lin QingHui" width={431} height={271} />
    </div>
  </Section>

  <!-- Media -->
  <Section bg="white">
    <SectionTitle textalign="left" color="green">
      Trusted by the Best:
    </SectionTitle>
    <p class="text-[1.875rem] font-bold text-green">
      D2L.sg Featured in Leading Publications and Platforms
    </p>
    <!-- Cards -->
    <!-- gap-x-[2.625rem] -->
    <div class="flex mt-[3.625rem] gap-y-[1.9375rem] flex-wrap justify-between">
      <!-- Card -->
      {
        publicationData.map((item: any) => (
          // cardwitdh
          <div class="rounded-[1.25rem] overflow-hidden drop-shadow-lg w-full md:w-[calc(33.3%-2.625rem*2/3)]">
            <a href={item.href} target="_blank">
              <div>
                {/* Image */}
                <div class="">
                  <Image src={item.image} alt="image" class="w-full" />
                </div>
              </div>
              <div class="bg-beige py-[0.625rem] px-[1.125rem]">
                <p class="font-bold text-[1.25rem] leading-none ">
                  {item.title}
                </p>
                <div class="flex items-center gap-x-[0.5rem] mt-[1rem]">
                  <Image src={item.logo} alt={item.publisher} width={39} />
                  <p class="italic">{item.publisher}</p>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <div>
      <Image
        src={others}
        alt="others"
        width={788}
        height={150}
        class="mx-auto mt-[2.9375rem]"
      />
    </div>
    <p class="text-center mt-[1rem] font-bold text-green text-[1.875rem]">
      and many more...
    </p>
  </Section>
</Layout>
