---
import Layout from "@/layouts/Layout.astro";
import Inner from "@/components/Parts/Inner.astro";
import { Image } from "astro:assets";
import whatyouget1 from "@/assets/images/dss/whatyouget/whatyouget1.png";
import whatyouget2 from "@/assets/images/dss/whatyouget/whatyouget2.png";
import whatyouget3 from "@/assets/images/dss/whatyouget/whatyouget3.png";
import whatyouget4 from "@/assets/images/dss/whatyouget/whatyouget4.png";
import dss from "@/assets/images/dss/dss.png";
import signup from "@/assets/images/dss/signup.png";
import Button from "@/components/Parts/Button.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import Section from "@/components/Parts/Section.astro";
import SectionType1Card from "@/components/SectionType1/SectionType1Card.astro";
import SectionType1Cards from "@/components/SectionType1/SectionType1Cards.astro";
import icon1 from "@/assets/images/services/ourservices/icon1.png";
import icon2 from "@/assets/images/services/ourservices/icon2.png";
import icon3 from "@/assets/images/services/ourservices/icon3.png";

const categoryData = [
  {
    title: "Food Recovery Activities",
    icon: icon1,
    description: [
      "Recover food surplus/waste from businesses near you",
      "Store staff at businesses we work with will set aside edible food surplus/waste for you to collect.",
    ],
  },
  {
    title: "Help the Community & Planet",
    icon: icon2,
    description: [
      "Share food with members of your community",
      "You’ll then list it on GoodHood.sg’s app. People nearby will request it and collect it from you.",
    ],
  },
  {
    title: "Contribute to A Cause",
    icon: icon3,
    description: [
      "Feel good knowing you’re helping people and our planet",
      "By becoming a DSS, you’re doing your bit to fight food waste, saving the planet and help the communities in need!",
    ],
  },
];

const serviceData = [
  {
    title: "Make a Tangible Difference",
    image: whatyouget1,
    description:
      "Your efforts will have a measurable impact on the lives of individuals and families who struggle to access food",
  },
  {
    title: "Environmental consciousness",
    image: whatyouget2,
    description:
      "Your efforts will have a measurable impact on the lives of individuals and families who struggle to access food",
  },
  {
    title: "Expand your network",
    image: whatyouget3,
    description:
      "Your efforts will have a measurable impact on the lives of individuals and families who struggle to access food",
  },
  {
    title: "Gain New Skills",
    image: whatyouget4,
    description:
      "Your efforts will have a measurable impact on the lives of individuals and families who struggle to access food",
  },
];
---

<Layout title="DSS | D2L.sg">
  <PageTitleBanner title="D2L.sg Surplus Savers (DSS)" bgmv="/dss/mvbg.png" />

  <!-- What is DSS -->
  <section class="bg-white ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem]">
    <Inner>
      <SectionTitle color="green" textalign="left">
        Join the fight against food waste while addressing food insecurity in
        Singapore as a D2L.sg Surplus Savers (DSS):
      </SectionTitle>
      <p class="mt-[1rem] text-[1.25rem]">
        Gain valuable experience fighting food waste while empowering
        communities in Singapore with D2L.sg!
      </p>
      <div
        class="flex
        justify-between
        items-center
        gap-x-[2.75rem]
        mt-[1rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
      >
        <div>
          <h4 class="text-green ~text-[2rem]/[2.8125rem] font-bold mt-[1rem]">
            What is DSS?
          </h4>
          <p class="mt-[2rem]">
            D2L.sg Surplus Savers, commonly known as DSS, are a citizen-led
            movement to engage & serve our neighbors in terms of food waste
            awareness!
          </p>
          <p class="mt-[2rem]">
            Since starting in 2020, our tech partner, GoodHood.sg has over 90K+
            members & growing, & we’d love for YOU to also play a bigger role in
            shaping the future of Singapore and bring back the Kampung Spirit in
            Singapore!
          </p>
        </div>
        <Image src={dss} alt="What is DSS?" width={458} height={427} />
      </div>
    </Inner>
  </section>

  <!-- What you'll do -->
  <Section bg="beige">
    <SectionTitle textalign="left" color="green"> What YOU’ll do </SectionTitle>
    <!-- Cards -->
    <SectionType1Cards>
      <!-- Card -->
      {
        categoryData.map((item: any) => (
          <SectionType1Card bgcolor="white">
            <Fragment slot="title">
              <div class="flex items-center gap-x-[1rem]">
                <Image src={item.icon} alt="icon1" width={44.76} />
                <p>{item.title}</p>
              </div>
            </Fragment>
            <Fragment slot="description">
              <ul class="text-text mt-[1rem] text-[1.25rem] leading-normal px-[1rem] flex flex-col gap-y-[1rem]">
                {item.description.map((desc: any) => (
                  <li>{desc}</li>
                ))}
              </ul>
            </Fragment>
          </SectionType1Card>
        ))
      }
    </SectionType1Cards>
  </Section>

  <!-- What you'll get -->
  <Section bg="bg" text="white" bgimagepath="/dss/bg.png">
    <SectionTitle textalign="center" color="white">
      What YOU’ll get
    </SectionTitle>
    <!-- Cards -->
    <div
      class="max-w-[57.75rem] mx-auto mt-[1.25rem] flex flex-col gap-y-[1.25rem]"
    >
      <!-- Card -->
      {
        serviceData.map((item: any) => (
          <div class="rounded-[1.25rem] overflow-hidden w-full">
            <div class="bg-white ~py-[0.9375rem]/[2rem] ~px-[0.9375rem]/[2.1875rem]">
              <div class="flex items-center gap-[2.75rem] md:flex-row flex-col-reverse">
                {/* Text */}
                <div class="md:w-[53.27%]">
                  <h3 class="text-green2 italic font-bold leading-none ~text-[2rem]/[2.8125rem]">
                    {item.title}
                  </h3>
                  <p class="text-text mt-[1rem] text-[1.25rem] leading-normal">
                    {item.description}
                  </p>
                </div>
                {/* Image */}
                <div class="inline text-text">
                  <Image src={item.image} alt="Waste Management" />
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Section>

  <!-- CTA What they say -->
  <section class="bg-white ~px-[1rem]/[5rem] ~pt-[3rem]/[3.75rem]">
    <Inner>
      <div
        class="flex justify-between items-end gap-x-[2.75rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
      >
        <Image
          src={signup}
          alt="What they say..."
          width={480}
          height={381}
          class="w-full"
        />

        <div class="~pb-[3rem]/[3.75rem]">
          <p class="text-orange font-bold ~text-[2rem]/[2.8125rem] italic">
            What they say...
          </p>

          <div
            class="italic bg-beige p-[2.25rem] rounded-[1.25rem] drop-shadow-md"
          >
            <p class="text-[1.25rem]">
              “Being part of DSS is rewarding! Not only can I assist in the food
              rescue programs, but also with my other skills!”
            </p>
            <p class="text-green font-bold text-[1.5625rem] mt-[1rem]">
              Liza, DSS
            </p>
          </div>

          <SectionTitle color="green" textalign="left">
            Sign Up as a DSS NOW!
          </SectionTitle>
          <p class="mt-[2rem]">
            By dedicating your time and efforts to this worthy cause, you can
            create a meaningful impact on the lives of others while actively
            working towards a world with zero food waste.
          </p>
          <div class="mt-[2rem]">
            <Button
              text="Join Us!"
              href="https://play.google.com/store/apps/details?id=sg.goodhood.app&hl=en"
              targetblank="_blank"
            />
          </div>
        </div>
      </div>
    </Inner>
  </section>
</Layout>
