---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import surplusfood from "@/assets/images/education/surplusfood.png";
import joinus from "@/assets/images/education/joinus.png";
import reason1 from "@/assets/images/education/reason/reason1.png";
import reason2 from "@/assets/images/education/reason/reason2.png";
import reason3 from "@/assets/images/education/reason/reason3.png";
import reason4 from "@/assets/images/education/reason/reason4.png";
import hierarchy from "@/assets/images/education/hierarchy.png";
import toggle from "@/assets/images/contact/toggle.png";
import arrow from "@/assets/images/contact/arrow.png";
import sggreen from "@/assets/images/education/sggreenplan.png";
import netzero from "@/assets/images/education/netzero.png";
import sdg1 from "@/assets/images/education/sdg1.png";
import sdg2 from "@/assets/images/education/sdg2.png";
import sdg3 from "@/assets/images/education/sdg3.png";
import sdg4 from "@/assets/images/education/sdg4.png";
import sdg5 from "@/assets/images/education/sdg5.png";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import SectionType1Card from "@/components/SectionType1/SectionType1Card.astro";
import SectionType1Cards from "@/components/SectionType1/SectionType1Cards.astro";

const impactData = [
  {
    title: "Increased Carbon Footprint",
    image: reason1,
    description:
      "Food cultivation and food production are energy intensive and produces a lot of carbon. This is even before we factor in transportation!",
  },
  {
    title: "Increased Blue Water Footprint",
    image: reason2,
    description: "Agriculture and food production are water intense",
  },
  {
    title: "Increased Greenhouse Gases (GHSs)",
    image: reason3,
    description:
      "Food dumped in landfill breaks down to create methane, which is 86x more intense than carbon dioxide an equally harmful greenhouse gas",
  },
  {
    title: "Direct Economic Loss",
    image: reason4,
    description:
      "Capital & resources channelled into food production are sunken",
  },
];

const joiunusData = [
  {
    title: "As a Business",
    image: joinus,
    href: "/services/",
  },
  {
    title: "As a Individual",
    image: joinus,
    href: "/dss/",
  },
];

const process = [
  {
    question: "Strategy 1: Prevent and reduce food wastage at source",
    answer: "Focus on prevention by not creating food waste in the first place",
  },
  {
    question: "Strategy 2: Redistribute unsold/excess food",
    answer:
      "Redirecting edible food to those experiencing food insecurity is an impactful way for everyone to reduce waste and support the community.",
  },
  {
    question: "Strategy 3: Valorise/Treat food waste",
    answer:
      "Food waste that cannot be avoided should be valorised or treated where possible. Hence, separating non food waste to food waste items at source is a must to ensure a successful valorisation or treatment.",
  },
  {
    question: "Strategy 4: Recover energy",
    answer:
      "Food waste that is not valorised or treated will be disposed of at the waste-to-energy (WTE) plants for energy recovery.",
  },
];
---

<Layout title="Food Waste 101 | D2L.sg">
  <PageTitleBanner
    title="Food Surplus & Waste 101"
    bgmv="/education/mvbg.png"
  />

  <!-- What is Food Waste? -->
  <Section bg="white">
    <div>
      <SectionTitle color="green" textalign="left">
        Actually, what is Food Waste?
      </SectionTitle>
      <p class="mt-[1rem] text-[1.25rem]">
        Food Waste = Food that could have been consumed or channelled to
        alternative use if better managed, but are consciously discarded (i.e.
        scraps, blemished, surplus & unsellable food, or food past best before
        date & expired food, etc).
      </p>
    </div>

    <div class="mt-[1rem]">
      <SectionTitle color="green" textalign="left">
        Why Focus on Surplus Food?
      </SectionTitle>

      <div
        class="flex
        justify-between
        items-center
        gap-x-[2.75rem]
        mt-[1rem]
        flex-wrap gap-y-[3rem] md:flex-nowrap"
      >
        <div>
          <Image src={surplusfood} alt="Lin QingHui" width={458} height={427} />
          <p class="mt-[3.4375rem] text-[1.25rem]">
            Source: <a class="underline" href="/" target="_blank"
              >NEA News - Waste Generation And Recycling Rates Increased In 2022
              As Economic Activity Picked Up</a
            >
          </p>
        </div>

        <div>
          <div>
            <p class="text-[1.875rem] text-green font-bold">
              Environmental Impact
            </p>
            <p class="text-[1.25rem]">
              With food waste being a direct contributor to GHGs, targeting food
              waste is the most impactful solution for climate change to prevent
              2˚C temperature rise by 2100 (Project Drawdown).
            </p>
          </div>
          <div class="mt-[2.4375rem]">
            <p class="text-[1.875rem] text-green font-bold">Community Impact</p>
            <p class="text-[1.25rem]">
              The cost of living in Singapore is set to continue to rise, along
              with it comes an increased stress on food security.
            </p>
            <p class="mt-[2rem] text-[1.25rem]">
              Diverting even a portion of the food surplus to communities
              instead of disposing it, will have an impact.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <!-- Why does it matter? -->
  <Section bg="green" text="white">
    <SectionTitle textalign="center" color="white"
      >Why does it matter?</SectionTitle
    >
    <p class="mt-[1rem] text-[1.25rem]">
      <span class="font-bold">We Envision A Zero-Waste Singapore</span> where private,
      people, and public entities are working together, stewarding every resource
      mindfully, consciously, respectfully, and treading lightly on this earth, to
      achieve zero food waste.
    </p>

    <!-- Cards -->
    <div
      class="text-center mt-[2.9375rem] gap-x-[1rem] gap-y-[2.5rem] grid grid-cols-1 md:grid-cols-4"
    >
      {
        impactData.map((item: any) => (
          // Card
          <div class="w-full grid grid-rows-subgrid row-span-3 gap-[1rem]">
            <Image
              src={item.image}
              alt="Our Impact"
              width={100}
              height={100}
              class="mx-auto"
            />
            <p class="text-[1.875rem] font-bold leading-none self-center">
              {item.title}
            </p>
            <p class="text-left">{item.description}</p>
          </div>
        ))
      }
    </div>
  </Section>

  <!-- Hierarchy -->
  <Section bg="white">
    <div>
      <SectionTitle color="green" textalign="left">
        Understanding the Food Recovery Hierarchy
      </SectionTitle>
      <p class="mt-[1rem] text-[1.25rem]">
        <span class="font-bold">Food recovery hierarchy</span>

        is a guide to <span class="font-bold">minimize & handle</span> food waste
        by prioritizing based on categories.<br />
        <span class="font-bold">All Waste Generating Entities</span> are encouraged
        to adopt recommended practices to prevent food waste and redirect food surplus/waste.
        At D2L.sg, we follow this hierarchy so that All TYPES of food surplus and
        waste can go to their best and highest use.
      </p>
    </div>

    <!-- Flex -->
    <div
      class="flex items-start mt-[3.5rem] justify-between flex-wrap gap-y-[3rem] md:flex-nowrap gap-x-[1rem]"
    >
      <div>
        <Image src={hierarchy} alt="Hierarchy" width={750} />
        <p class="mt-[3.4375rem] text-[1.25rem]">
          Source: <a
            class="underline"
            href="https://www.nea.gov.sg/our-services/waste-management/3r-programmes-and-resources/food-waste-management"
            target="_blank"
          >
            National Environment Agency, 2024
          </a>
        </p>
      </div>

      <div class="w-full md:w-[59%]">
        <ul class="flex flex-col gap-y-[1.976rem]">
          {
            process.map((item, index) => (
              <li
                class="drop-shadow-lg bg-beige rounded-[1.25rem]"
                id={`faq${index + 2}`}
              >
                {/* <!-- Question --> */}
                <div class="transition-all duration-300 question py-[1.5625rem] px-[2.1875rem] bg-green text-white font-bold text-[1.875rem] rounded-[1.25rem] flex justify-between items-center">
                  <p>{item.question}</p>
                  <button class="toggle-button">
                    <Image
                      src={toggle}
                      alt="Toggle"
                      width={32}
                      height={32}
                      class="hamburger"
                    />
                    <Image
                      src={arrow}
                      alt="Toggle"
                      width={32}
                      height={32}
                      class="arrow hidden"
                    />
                  </button>
                </div>
                {/* <!-- Answer --> */}
                <div class="answer px-[2.875rem] py-[1.8125rem] hidden text-[1.25rem]">
                  <p>{item.answer}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Section>

  <!-- Moving Towards -->
  <Section bg="beige">
    <div>
      <SectionTitle color="green" textalign="left" italic>
        Moving Towards...
      </SectionTitle>

      <!-- Cards -->
      <SectionType1Cards>
        <!-- Card1 -->
        <SectionType1Card bgcolor="white">
          <Fragment slot="title">
            <p class="block m-auto">SG Green Plan 2030</p>
          </Fragment>
          <Fragment slot="description">
            <Image
              src={sggreen}
              alt="SG Green Plan 2030"
              width={373}
              height={98}
            />
            <div class="mt-[1rem]">
              <p class="text-[1.5625rem] font-bold text-green leading-normal">
                What is SG Green Plan?
              </p>
              <p class="text-[1.25rem] leading-normal">
                Singapore Green Plan 2030 charts ambitious and concrete targets
                to advance Singapore’s national agenda on sustainable
                development. With 5 key pillars.
              </p>
            </div>
            <div class="mt-[1.375rem]">
              <p class="text-[1.5625rem] font-bold text-green leading-normal">
                What are the 5 pillars?
              </p>
              <p class="text-[1.25rem] leading-normal">
                <ul class="text-[1.25rem] leading-normal">
                  <li>City in Nature</li>
                  <li>Sustainable Living</li>
                  <li>Energy Reset</li>
                  <li>Green Economy</li>
                  <li>Resilient Future</li>
                </ul>
              </p>
            </div>
          </Fragment>
        </SectionType1Card>
        <!-- Card2 -->
        <SectionType1Card bgcolor="white">
          <Fragment slot="title">
            <p class="block m-auto">Net Zero & ESG Reporting</p>
          </Fragment>
          <Fragment slot="description">
            <Image
              src={netzero}
              alt="NetZero2050"
              width={111}
              height={111}
              class="mx-auto"
            />
            <div class="mt-[1rem]">
              <p class="text-[1.5625rem] font-bold text-green leading-normal">
                Net Zero
              </p>
              <p class="text-[1.25rem] leading-normal">
                Net zero means cutting carbon emissions to a small amount of
                residual emissions that can be absorbed and durably stored by
                nature and other carbon dioxide removal measures, leaving zero
                in the atmosphere.
              </p>
            </div>
            <div class="mt-[1.375rem]">
              <p class="text-[1.5625rem] font-bold text-green leading-normal">
                ESG Reporting
              </p>
              <p class="text-[1.25rem] leading-normal">
                Sustainability reports of environmental, social and governance
                (“ESG”) factors show the risks and opportunities within sight,
                managed for future returns.
              </p>
            </div>
          </Fragment>
        </SectionType1Card>
        <!-- Card3 -->
        <SectionType1Card bgcolor="white">
          <Fragment slot="title">
            <p class="block m-auto">UN SDGS 2030</p>
          </Fragment>
          <Fragment slot="description">
            <ul class="flex flex-col gap-y-[1.375rem]">
              <li class="flex gap-x-[0.875rem]">
                <Image src={sdg1} alt="Zero Hunger" width={80} height={80} />
                <p class="text-[1.25rem] font-bold text-green leading-normal">
                  Zero Hunger
                </p>
              </li>
              <li class="flex gap-x-[0.875rem]">
                <Image
                  src={sdg2}
                  alt="Good Health & Wellbeing"
                  width={80}
                  height={80}
                />
                <p class="text-[1.25rem] font-bold text-green leading-normal">
                  Good Health & Wellbeing
                </p>
              </li>
              <li class="flex gap-x-[0.875rem]">
                <Image
                  src={sdg3}
                  alt="Sustainable Cities & Communities"
                  width={80}
                  height={80}
                />
                <p class="text-[1.25rem] font-bold text-green leading-normal">
                  Sustainable Cities & Communities
                </p>
              </li>
              <li class="flex gap-x-[0.875rem]">
                <Image
                  src={sdg4}
                  alt="Responsible Consumption & Production"
                  width={80}
                  height={80}
                />
                <p class="text-[1.25rem] font-bold text-green leading-normal">
                  Responsible Consumption & Production
                </p>
              </li>
              <li class="flex gap-x-[0.875rem]">
                <Image src={sdg5} alt="Climate Action" width={80} height={80} />
                <p class="text-[1.25rem] font-bold text-green leading-normal">
                  Climate Action
                </p>
              </li>
            </ul>
          </Fragment>
        </SectionType1Card>
      </SectionType1Cards>
    </div>
  </Section>

  <!-- Join Us -->
  <Section bg="white">
    <SectionTitle textalign="left" color="green">
      Want to contribute towards this goal?<br /> Join us!
    </SectionTitle>

    <!-- Cards -->
    <div class="flex mt-[3.625rem] flex-wrap justify-between gap-[2.0625rem]">
      <!-- Card -->
      {
        joiunusData.map((item: any) => (
          <div class="rounded-[1.25rem] overflow-hidden drop-shadow-lg  w-full md:w-[calc(50%-2.0625rem/2)]">
            <a href={item.href}>
              <div>
                {/* Image */}
                <div class="">
                  <Image
                    src={item.image}
                    alt="image"
                    class="w-full"
                    width={627}
                    height={372}
                    class="bg-cover bg-top"
                  />
                </div>
              </div>
              <div class="bg-green py-[1.375rem] px-[1.75rem]">
                <p class="font-bold text-[1.875rem] leading-none text-white">
                  {item.title}
                </p>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </Section>
</Layout>

<style>
  .cardwidth2 {
    width: calc(33.333333% - 1.5625rem * 2 / 3);
  }
</style>
<script is:inline>
  $(document).ready(function () {
    $(".toggle-button").click(function () {
      var answer = $(this).closest("li").find(".answer");
      answer.slideToggle();
      $(this).find(".hamburger").toggleClass("hidden");
      $(this).find(".arrow").toggleClass("hidden");
      $(this).closest("li").find(".question").toggleClass("bg-green bg-orange");
    });
  });
</script>
