---
import impact1 from "@/assets/images/home/impact/impact1.png";
import impact2 from "@/assets/images/home/impact/impact2.png";
import impact3 from "@/assets/images/home/impact/impact3.png";
import impact4 from "@/assets/images/home/impact/impact4.png";
import service1 from "@/assets/images/home/service/service1.png";
import service2 from "@/assets/images/home/service/service2.png";
import service3 from "@/assets/images/home/service/service3.png";
import getintouch from "@/assets/images/home/getintouch.png";
import Layout from "../layouts/Layout.astro";
import Section from "@/components/Parts/Section.astro";
import Button from "@/components/Parts/Button.astro";
import { Image } from "astro:assets";
import partner1 from "@/assets/images/home/partner/partner1.png";
import partner2 from "@/assets/images/home/partner/partner2.png";
import partner3 from "@/assets/images/home/partner/partner3.png";
import partner4 from "@/assets/images/home/partner/partner4.png";
import partner5 from "@/assets/images/home/partner/partner5.png";
import partner6 from "@/assets/images/home/partner/partner6.png";
import partner7 from "@/assets/images/home/partner/partner7.png";
import partner8 from "@/assets/images/home/partner/partner8.png";
import SectionType2 from "@/components/SectionType2.astro";
import SectionType3 from "@/components/SectionType3.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import SectionType1Card from "@/components/SectionType1/SectionType1Card.astro";
import SectionType1Cards from "@/components/SectionType1/SectionType1Cards.astro";

const categoryData = [
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Reporting? We Got You Covered!",

    description:
      "We track your waste, calculate your impact, and generate sustainability reports for you (ESG, NEA, you got it!). Hassle-free!",
  },
  {
    title: "CSR & Employee Engagement ",

    description:
      "Say hello to engaging CSR/Employee Engagement programmes. Get ready to have a blast with your team!",
  },
];

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "tonnes of surplus food diverted",
    number: "700+",
    image: impact2,
  },
  {
    title: "million saved",
    number: "$7.1",
    image: impact3,
  },
  {
    title: "families benefitted",
    number: "10,000+",
    image: impact4,
  },
];

const serviceData = [
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Food Surplus/Waste Management",
      "Impact Reports and Analytics Dashboard",
      "ESG & NEA Reporting",
    ],
    link: "/services",
  },
  {
    title: "CSR & Employee Engagement",
    image: service2,
    description: [
      "CSR & Employee Engagement Programmes",
      "Surplus Food Provision",
      "Streamlined DSS engagement through comprehensive training model",
      "Community Outreach Expansion",
    ],
    link: "/services/",
  },
  {
    title: "Join as a DSS!",
    image: service3,
    description: [
      "Make a tangible difference and contribute to a worthy cause",
      "Network with changemakers",
      "Gain new skills on food surplus & waste management, logistics, and community outreach at your convenience",
    ],
    link: "/dss/",
  },
];
---

<Layout title="D2L.sg">
  <!--  defaultScreens: ["20rem", theme("screens.lg")],の間（320px-1024px）で、1rem(16px)〜2rem（32px）まで動く -->
  <!-- <div class="~text-[1rem]/[2rem]">Home</div> -->

  <!-- MV -->
  <div class="pb-[4.3125rem] bg ~pt-[4.625rem]/[13rem]">
    <!-- MV -->
    <div
      class="max-w-[73rem] ~py-[1rem]/[3.125rem] ~px-[1rem]/[4.375rem] mx-auto bg-white rounded-[1.25rem] bg2"
    >
      <!-- Text -->
      <div>
        <h2
          class="~text-[2rem]/[4.0625rem] text-green font-bold leading-[110%]"
        >
          Your One-Stop<br />Food Surplus and<br /> Waste Manager
        </h2>
        <p class="~text-[1rem]/[1.5rem] leading-normal mt-[1.5rem]">
          Co-Creating Circularity with Community
        </p>
        <div class="mt-[1.75rem]">
          <a
            class="py-[0.75rem] px-[1.406rem] bg-orange text-white ~text-[1rem]/[1.5625rem] leading-normal font-bold rounded-[0.5rem] inline-block hover:opacity-80 transition-all duration-300"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <Section bg="white">
    <SectionTitle textalign="center" color="green">
      So, You Think Sustainability is a Hassle?<br />
      We Say, <span class="font-bold">Challenge Accepted!</span>
    </SectionTitle>

    <!-- Cards -->
    <SectionType1Cards>
      <!-- Card -->
      {
        categoryData.map((item: any) => (
          <SectionType1Card bgcolor="beige">
            <Fragment slot="title">
              <p class="block m-auto">{item.title}</p>
            </Fragment>
            <Fragment slot="description">
              <p>{item.description}</p>
            </Fragment>
          </SectionType1Card>
        ))
      }
    </SectionType1Cards>
  </Section>

  <!-- Our Impact -->
  <SectionType2 impact={impactData} />

  <!-- How to get involved(Services) -->
  <SectionType3
    service={serviceData}
    title="How to get involved?"
    bgimagepath="/home/bg2.png"
  />

  <!-- Getintouch -->
  <Section bg="beige">
    <div
      class="flex items-center gap-x-[7.125rem] max-w-[73rem] mx-auto justify-center flex-wrap gap-y-[3rem]"
    >
      <!-- Image -->
      <div class="w-full md:w-[38%]">
        <Image src={getintouch} alt="impact" />
      </div>
      <!-- Text -->
      <div class="w-full md:w-[calc(62%-7.125rem)]">
        <SectionTitle color="green" textalign="left">
          Get in touch today!
        </SectionTitle>
        <p class="mt-[2rem] text-[1.25rem]">
          Ready to make real impact?
          <br />Join us in building a zero-waste Singapore.
        </p>
        <div class="mt-[2rem]">
          <Button text="Contact Us" href="/contact" />
        </div>
      </div>
    </div>
  </Section>

  <!-- Partner -->
  <Section bg="white">
    <div
      class="flex items-center justify-center flex-wrap mt-[1.25rem] gap-x-[5.1875rem]"
    >
      <div>
        <p class="text-center text-[1.25rem]">In partnership with</p>
        <div class="flex items-center justify-between flex-wrap mt-[1.25rem]">
          <Image src={partner1} alt="partner" width={253} height={114} />
        </div>
      </div>
      <div>
        <p class="text-center text-[1.25rem] pt-[2.8125rem] md:pt-0">
          Proud member of
        </p>
        <div class="flex items-center justify-center flex-wrap mt-[1.25rem]">
          <Image src={partner2} alt="partner" width={253} height={120} />
        </div>
      </div>
    </div>

    <!-- Row2 -->
    <div class="mt-[2.8125rem]">
      <p class="text-center text-[1.25rem]">Powered by</p>
      <div
        class="flex items-center mt-[1.25rem] flex-wrap justify-between gap-y-[1.25rem]"
      >
        <Image src={partner3} alt="partner" width={186} height={111} />
        <Image src={partner4} alt="partner" width={137.68} height={111} />
        <Image src={partner5} alt="partner" width={208} height={120} />
        <Image src={partner6} alt="partner" width={155.16} height={111} />
        <Image src={partner7} alt="partner" width={286} height={112} />
        <Image src={partner8} alt="partner" width={206.58} height={111} />
      </div>
    </div>
  </Section>

  <style>
    .bg {
      background-image: url("/home/mvbg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .bg2 {
      background-image: url("/home/bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</Layout>
