---
import impact1 from "@/assets/images/impact/impact1.png";
import service1 from "@/assets/images/service/service1.png";
import Layout from "../layouts/Layout.astro";
import Section from "@/components/Parts/Section.astro";
import Button from "@/components/Parts/Button.astro";
import { Image } from "astro:assets";
import partner1 from "@/assets/images/home/partner1.png";
import partner2 from "@/assets/images/home/partner2.png";
import partner3 from "@/assets/images/home/partner3.png";
import partner4 from "@/assets/images/home/partner4.png";
import partner5 from "@/assets/images/home/partner5.png";
import partner6 from "@/assets/images/home/partner6.png";
import partner7 from "@/assets/images/home/partner7.png";
import partner8 from "@/assets/images/home/partner8.png";
import SectionType1 from "@/components/SectionType1.astro";
import SectionType2 from "@/components/SectionType2.astro";
import SectionType3 from "@/components/SectionType3.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
];

const serviceData = [
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
];

const categoryData = [
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
];
---

<Layout title="D2L.sg">
  <!--  defaultScreens: ["20rem", theme("screens.lg")],の間（320px-1024px）で、1rem(16px)〜2rem（32px）まで動く -->
  <!-- <div class="~text-[1rem]/[2rem]">Home</div> -->

  <!-- MV -->
  <div class="pt-[13.0rem] pb-[4.3125rem] bg">
    <!-- MV -->
    <div
      class="max-w-[73rem] ~py-[1rem]/[3.125rem] ~px-[1rem]/[4.375rem] mx-auto bg-white rounded-[1.25rem] bg2"
    >
      <!-- Text -->
      <div>
        <h2
          class="~text-[2rem]/[4.0625rem] text-green font-bold leading-[110%]"
        >
          Your One-Stop<br />Food Surplus and<br /> Waste Manager
        </h2>
        <p class="~text-[1rem]/[1.5rem] leading-normal mt-[1.5rem]">
          Co-Creating Circularity with Community
        </p>
        <div class="mt-[1.75rem]">
          <a
            class="py-[0.75rem] px-[1.406rem] bg-orange text-white ~text-[1rem]/[1.5625rem] leading-normal font-bold rounded-[0.5rem] inline-block"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <SectionType1 category={categoryData} />

  <!-- Our Impact -->
  <SectionType2 impact={impactData} />

  <!-- How to get involved(Services) -->
  <SectionType3 service={serviceData} />

  <!-- Getintouch -->
  <Section bg="beige">
    <div
      class="flex items-center gap-x-[7.125rem] max-w-[73rem] mx-auto justify-center flex-wrap gap-y-[3rem]"
    >
      <!-- Image -->
      <div class="w-full md:w-[38%]">
        <Image src={service1} alt="impact" />
      </div>
      <!-- Text -->
      <div class="w-full md:w-[calc(62%-7.125rem)]">
        <SectionTitle color="green" textalign="left">
          Get in touch today!
        </SectionTitle>
        <p class="mt-[2rem] text-[1.25rem]">
          Ready to make real impact?
          <br />Join us in building a zero-waste Singapore.
        </p>
        <div class="mt-[2rem]">
          <Button text="Contact Us" href="/contact" />
        </div>
      </div>
    </div>
  </Section>

  <!-- Partner -->
  <Section bg="white">
    <div
      class="flex items-center justify-center flex-wrap mt-[1.25rem] gap-x-[5.1875rem]"
    >
      <div>
        <p class="text-center text-[1.25rem]">In partnership with</p>
        <div class="flex items-center justify-between flex-wrap mt-[1.25rem]">
          <Image src={partner1} alt="partner" width={253} height={114} />
        </div>
      </div>
      <div>
        <p class="text-center text-[1.25rem] pt-[2.8125rem] md:pt-0">Proud member of</p>
        <div class="flex items-center justify-center flex-wrap mt-[1.25rem]">
          <Image src={partner2} alt="partner" width={253} height={120} />
        </div>
      </div>
    </div>

    <!-- Row2 -->
    <div class="mt-[2.8125rem]">
      <p class="text-center text-[1.25rem]">Powered by</p>
      <div
        class="flex items-center mt-[1.25rem] flex-wrap justify-center gap-y-[1.25rem] gap-x-[1.25rem]"
      >
        <Image src={partner3} alt="partner" width={186} height={111} />
        <Image src={partner4} alt="partner" width={137.68} height={111} />
        <Image src={partner5} alt="partner" width={208} height={120} />
        <Image src={partner6} alt="partner" width={155.16} height={111} />
        <Image src={partner7} alt="partner" width={286} height={112} />
        <Image src={partner8} alt="partner" width={206.58} height={111} />
      </div>
    </div>
  </Section>

  <style>
    .bg {
      background-image: url("/home/mvbg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .bg2 {
      background-image: url("/home/bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</Layout>
