---
import Layout from "@/layouts/Layout.astro";
import impact1 from "@/assets/images/home/impact/impact1.png";
import impact2 from "@/assets/images/home/impact/impact2.png";
import impact3 from "@/assets/images/home/impact/impact3.png";
import impact4 from "@/assets/images/home/impact/impact4.png";
import cta from "@/assets/images/services/cta.png";
import { Image } from "astro:assets";
import Button from "@/components/Parts/Button.astro";
import icon1 from "@/assets/images/services/ourservices/icon1.png";
import icon2 from "@/assets/images/services/ourservices/icon2.png";
import icon3 from "@/assets/images/services/ourservices/icon3.png";
import approach1 from "@/assets/images/services/ourservices/approach1.png";
import approach2 from "@/assets/images/services/ourservices/approach2.png";
import approach3 from "@/assets/images/services/ourservices/approach3.png";
import approach4 from "@/assets/images/services/ourservices/approach4.png";
import approach5 from "@/assets/images/services/ourservices/approach5.png";
import approach6 from "@/assets/images/services/ourservices/approach6.png";
import csr from "@/assets/images/services/ourservices/csr.png";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
import SectionType2 from "@/components/SectionType2.astro";
import OurServicesCard from "@/components/OurServicesCard.astro";
import SectionType1Card from "@/components/SectionType1/SectionType1Card.astro";
import SectionType1Cards from "@/components/SectionType1/SectionType1Cards.astro";

const categoryData = [
  {
    title: "For Businesses",
    icon: icon1,
    description: [
      "No change of business  operations required",
      "Hassle free",
      "Meeting of ESG targets",
      "Saving $$$",
    ],
  },
  {
    title: "For Communities",
    icon: icon2,
    description: [
      "Addressing food insecurity",
      "Strengthening social fabric",
      "Improving community resilience",
      "Empowering communities through D2L.sg Surplus Savers training",
    ],
  },
  {
    title: "For the Environment",
    icon: icon3,
    description: [
      "Reduce Singapore’s carbon emissions",
      "Reduce pressure on landfill",
      "Recovered food surplus/waste is diverted into valuable resources for humans, animals, and event plants",
    ],
  },
];

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "tonnes of surplus food diverted",
    number: "700+",
    image: impact2,
  },
  {
    title: "million saved",
    number: "$7.1",
    image: impact3,
  },
  {
    title: "families benefitted",
    number: "10,000+",
    image: impact4,
  },
  {
    title: "merchant partners",
    number: "60+",
    image: impact4,
  },
  {
    title: "liters of water saved",
    number: "441+M",
    image: impact4,
  },
  {
    title: "tonnes CO2 emissions prevented",
    number: "3000+",
    image: impact4,
  },
];

const wastemanagementData = [
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach2,
    desctiprion:
      "Impact reports/certificates for your ESG and sustainability reporting",
  },
  {
    image: approach3,
    desctiprion:
      "Hassle free and timely collections with optimal diversion through trained D2L.sg Surplus Savers⁴ (DSS)",
  },
  {
    image: approach4,
    desctiprion:
      "Tracking and data analytics inform business decisions for source reduction and optimisation",
  },
  {
    image: approach5,
    desctiprion:
      "A circular solution, wherein diversion outputs such as compost can be redirected to the client’s business facilities upon request",
  },
  {
    image: approach6,
    desctiprion:
      "In consultation with client’s specifications, we do the heavy lifting so no extra work on your end",
  },
];
---

<Layout title="Our Services | D2L.sg">
  <PageTitleBanner title="Our Services" bgmv="/services/mvbg.png" />

  <!-- It’s a WIN, WIN, WIN! -->
  <Section bg="white">
    <SectionTitle textalign="center" color="green">
      It’s a WIN, WIN, WIN!
    </SectionTitle>
    <p class="mt-[1rem] text-[1.25rem]">
      Partnering with D2L.sg enables your business to make a tangible impact on
      sustainability while meeting ESG criteria. Our commitment to zero food
      waste and social impact helps you align with the Resource Sustainability
      Act and the Singapore Green Plan 2030, demonstrating your company's
      dedication to sustainable practices.
    </p>
    <!-- Cards -->
    <SectionType1Cards>
      <!-- Card -->
      {
        categoryData.map((item: any) => (
          <SectionType1Card bgcolor="beige">
            <Fragment slot="title">
              <div class="flex items-center gap-x-[1rem]">
                <Image src={item.icon} alt="icon1" width={44.76} />
                <p>{item.title}</p>
              </div>
            </Fragment>
            <Fragment slot="description">
              <ul class="text-text text-[1.25rem] leading-normal px-[1rem]">
                {item.description.map((desc: any) => (
                  <li class="list-['✓'] pl-[0.3125rem]">{desc}</li>
                ))}
              </ul>
            </Fragment>
          </SectionType1Card>
        ))
      }
    </SectionType1Cards>
  </Section>

  <!-- Services -->
  <Section bg="beige">
    <SectionTitle textalign="left" color="green">Our Services</SectionTitle>
    <!-- Cards Wrapper -->
    <div class="mt-[1.4375rem] flex flex-col gap-y-[2.875rem]">
      <!-- Card1 -->
      <OurServicesCard title="Food Surplus/Waste Management" icon={icon1}>
        <p class="font-bold text-[1.875rem] text-green">
          What can we do for you?
        </p>
        <p class="mt-[0.5rem]">
          With our smart matching technology, data analytics capability, and
          growing ecosystem of off-taking partners underpinning our approach, we
          can manage ALL TYPES of your food surplus and waste ensuring that food
          surplus and waste are matched to their best 2nd life quickly and
          efficiently. We also provide comprehensive environmental and social
          impact reports and conduct site-specific assessments to help clients
          understand their waste footprint, its consequences, and prevention
          strategies.
        </p>
        <p class="font-bold text-[1.875rem] text-green text-center mt-[1.5rem]">
          Our ALL-in-1 Smart Management Approach
        </p>
        <!-- Cards -->
        <div
          class="mt-[1.25rem] gap-y-[1.875rem] gap-x-[2.25rem] grid grid-cols-1 md:grid-cols-3"
        >
          <!-- Card -->
          {
            wastemanagementData.map((data: any) => (
              <div class="w-ful grid grid-rows-subgrid row-span-2 gap-[2rem]">
                <Image
                  src={data.image}
                  alt="icon1"
                  width={90}
                  height={90}
                  class="mx-auto"
                />
                <p class="text-[1.25rem]">{data.desctiprion}</p>
              </div>
            ))
          }
        </div>
      </OurServicesCard>

      <!-- Card2 -->
      <OurServicesCard title="CSR & Employee Engagement" icon={icon2}>
        <!-- Flex -->
        <div
          class="flex items-center gap-x-[1.8125rem] justify-between flex-wrap gap-y-[3rem] md:flex-nowrap"
        >
          <div class="w-full md:w-[66.57%] flex-shrink">
            <p class="font-bold text-[1.875rem] text-green">
              Work with us on a customised programme
            </p>
            <p class="mt-[0.5rem]">
              Programmes such as events, workshops, talks can be done on-site or
              online, with a focus on reducing food waste in Singapore towards a
              zero waste future.
            </p>
          </div>
          <div>
            <Image
              src={csr}
              alt="csr"
              width={327}
              height={173}
              class="w-full"
            />
          </div>
        </div>
        <!--  -->
        <div class="mt-[4.8125rem]">
          <p class="font-bold text-[1.875rem] text-green">
            A learning and experiential opportunity
          </p>
          <p class="mt-[0.5rem]">
            Get educated on the food waste issue in Singapore through our
            Programme, experience how food surplus is rescued, learn to
            repurpose and/or redistribute your rescued items to predetermined
            communities for quantifiable environmental and social impact.
          </p>
        </div>

        <!-- Flex -->
        <div
          class="flex items-center mt-[2.3125rem] gap-x-[2rem] justify-center flex-wrap gap-y-[3rem] md:flex-nowrap"
        >
          <div class="md:w-[calc(50%-2rem/2)] w-full">
            <p class="font-bold text-green2 text-[1.5625rem] italic">
              Local Businesses
            </p>
            <p class="mt-[0.5rem]">
              D2L.sg partners with GoodHood.sg⁵ to leverage on their community
              for redistribution and we work closely to expand their app
              features.
            </p>
          </div>
          <div class="md:w-[calc(50%-2rem/2)] w-full">
            <p class="font-bold text-green2 text-[1.5625rem] italic">
              D2L.sg’s Partners
            </p>
            <p class="mt-[0.5rem]">
              Assist the businesses we partner with, such as importers and
              distributors, to manage their surplus food.
            </p>
          </div>
        </div>
      </OurServicesCard>
    </div>
    <!-- Get a quote! -->
    <div class="mt-[3.25rem] mx-auto text-center">
      <a
        href="/contact/"
        class="drop-shadow-md py-[0.75rem] px-[1.406rem] bg-orange text-white text-[1.5625rem] leading-normal font-bold rounded-[1.25rem] inline-block w-[33.5625rem] max-w-full hover:opacity-80 transition-all duration-300"
        >Get A Quote</a
      >
    </div>
  </Section>

  <!-- Our Impact -->
  <SectionType2 impact={impactData} />

  <!-- CTA -->
  <Section bg="white">
    <SectionTitle textalign="left" color="green">
      Wondering How Much Impact<br />Can One Person Make?
    </SectionTitle>

    <div
      class="flex justify-between items-center gap-x-[6rem] flex-wrap gap-y-[3rem] md:flex-nowrap"
    >
      <div>
        <p class="text-orange font-bold ~text-[2rem]/[2.8125rem]">
          Join as a DSS!
        </p>
        <p class="mt-[2rem]">
          D2L.sg Surplus Savers, or frequently known as DSS, are a subset of
          D2L.sg’s team who are trained to divert Surplus/Waste to its highest
          and best use according to the food recovery hierarchy.
        </p>
        <div class="mt-[2rem]">
          <Button text="Learn more" href="/" />
        </div>
      </div>

      <Image src={cta} alt="Join as a DSS!" width={480} height={381} />
    </div>
  </Section>
</Layout>
