---
import Category from "@/components/Category.astro";
import Impact from "@/components/Impact.astro";
import Layout from "@/layouts/Layout.astro";
import impact1 from "@/assets/images/impact/impact1.png";
import cta from "@/assets/images/services/cta.png";
import Inner from "@/components/Inner.astro";
import { Image } from "astro:assets";
import Button from "@/components/Parts/Button.astro";
import icon1 from "@/assets/images/services/ourservices/icon1.png";
import approach1 from "@/assets/images/services/ourservices/approach1.png";

const categoryData = [
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
];

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
];

const wastemanagementData = [
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
  {
    image: approach1,
    desctiprion:
      "Achieve Zero Food Waste with quantified environmental and social impact",
  },
];
---

<Layout title="Our Services">
  <div class="bg-beige pt-[13.125rem] text-center pb-[4.625rem] bg">
    <h2 class="text-[2.8125rem] font-bold text-white underline">
      Our Services
    </h2>
  </div>

  <!-- Categories -->
  <Category category={categoryData} />

  <!-- Services -->
  <div class="bg-beige ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem]">
    <Inner>
      <h2 class="text-[2.8125rem] leading-normal font-bold text-green">
        Our Services
      </h2>
      <!-- Cards Wrapper -->
      <div class="mt-[1.4375rem]">
        <!-- Card1 -->
        <div>
          <!-- tag -->
          <div
            class="bg-orange p-[1.25rem] text-white font-bold inline-block text-[1.875rem] tagradius"
          >
            <div class="flex items-center gap-x-[1.2rem]">
              <Image src={icon1} alt="icon1" width={44.76} />
              <p>Waste Management</p>
            </div>
          </div>

          <!-- div -->
          <div class="py-[2.5rem] px-[4rem] bg-white drop-shadow-md radius">
            <p class="font-bold text-[1.875rem] text-green">
              What is Waste Management?
            </p>
            <p class="mt-[0.5rem]">
              A waste management system is a streamlined process that
              organizations use to dispose of, reduce, reuse, and prevent waste.
            </p>
            <p
              class="font-bold text-[1.875rem] text-green text-center mt-[1.5rem]"
            >
              Our ALL-in-1 Smart Management Approach
            </p>
            <!-- Cards -->
            <div
              class="mt-[1.25rem] flex items-center flex-wrap justify-between gap-y-[1.875rem]"
            >
              <!-- Card -->
              {
                wastemanagementData.map((data: any) => (
                  <div class="w-[20.625rem] cardwidth">
                    <Image
                      src={data.image}
                      alt="icon1"
                      width={90}
                      height={90}
                      class="mx-auto"
                    />
                    <p class="mt-[2rem] text-[1.25rem]">{data.desctiprion}</p>
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <!-- Card2 -->
        <div>
          <!-- tag -->
          <div
            class="bg-orange p-[1.25rem] text-white font-bold inline-block text-[1.875rem] tagradius"
          >
            <div class="flex items-center gap-x-[1.2rem]">
              <Image src={icon1} alt="icon1" width={44.76} />
              <p>Waste Management</p>
            </div>
          </div>

          <!-- div -->
          <div class="py-[2.5rem] px-[4rem] bg-white drop-shadow-md radius">
            <p class="font-bold text-[1.875rem] text-green">
              What is Waste Management?
            </p>
            <p class="mt-[0.5rem]">
              A waste management system is a streamlined process that
              organizations use to dispose of, reduce, reuse, and prevent waste.
            </p>
            <p
              class="font-bold text-[1.875rem] text-green text-center mt-[1.5rem]"
            >
              Our ALL-in-1 Smart Management Approach
            </p>
            <!-- Cards -->
            <div
              class="mt-[1.25rem] flex items-center flex-wrap justify-between gap-y-[1.875rem]"
            >
              <!-- Card -->
              {
                wastemanagementData.map((data: any) => (
                  <div class="w-[20.625rem] cardwidth">
                    <Image
                      src={data.image}
                      alt="icon1"
                      width={90}
                      height={90}
                      class="mx-auto"
                    />
                    <p class="mt-[2rem] text-[1.25rem]">{data.desctiprion}</p>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <!-- Get a quote! -->
      <div class="mt-[3.25rem] mx-auto text-center">
        <a
          href="/"
          class="drop-shadow-md py-[0.75rem] px-[1.406rem] bg-orange text-white text-[1.5625rem] leading-normal font-bold rounded-[1.25rem] inline-block w-[33.5625rem] max-w-full"
          >Get A Quote</a
        >
      </div>
    </Inner>
  </div>

  <!-- Our Impact -->
  <Impact impact={impactData} />

  <!-- CTA -->
  <div class="bg-white ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem]">
    <Inner>
      <h3 class="text-green text-[2.8125rem] font-bold leading-none">
        Wondering How Much Impact<br />Can One Person Make?
      </h3>
      <div class="flex justify-between items-center gap-x-[6rem]">
        <div>
          <p class="text-orange font-bold text-[3.4375rem]">Join as a DSS!</p>
          <p class="mt-[2rem]">
            D2L.sg Surplus Savers, or frequently known as DSS, are a subset of
            D2L.sg’s team who are trained to divert Surplus/Waste to its highest
            and best use according to the food recovery hierarchy.
          </p>
          <div class="mt-[2rem]">
            <Button text="Learn more" href="/" />
          </div>
        </div>

        <Image src={cta} alt="Lin QingHui" width={480} height={381} />
      </div>
    </Inner>
  </div>
</Layout>

<style>
  .bg {
    background-image: url("/services/mvbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .tagradius {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .radius {
    border-radius: 0 1.25rem 1.25rem 1.25rem;
  }

  .cardwidth {
    width: calc(33% - 2.625rem / 2);
  }
</style>
